@import '../../styles/variaveis.sass'

#cadastrar-movimentacao
    padding-top: 10px
    display: flex
    justify-content: space-around
    height: min-content
    width: 100%

#todas-movimentacoes
    a
        color: $txt