<header>
    <h2>FinPainel</h2>
    <img src="/assets/img/hamburguer-button.png" alt="" height="25px" width="30px">
</header>
<main>
    <section class="inputs-info">
        <div class="formulario">
            <div>
                <label>Tipo</label>
                <div>
                    <div class="labelsTipo">
                        <label for="receita">Receita</label>
                        <input type="radio" id="receita" name="tipo" [(ngModel)]="tipoTransacao" value="Receita">
                    </div>
                    <div class="labelsTipo">
                        <label for="despesa">Despesa</label>
                        <input type="radio" id="despesa" name="tipo" [(ngModel)]="tipoTransacao" value="Despesa">
                    </div>
                </div>
            </div>
            <div>
                <label for="">Categoria</label>
                <input type="text" [(ngModel)]="categoria" maxlength="25" placeholder="Ex: Aluguel, luz...">
            </div>
            <div class="data">
                <label for="">Data</label>
                <input type="date" [(ngModel)]="data">
            </div>
            <div>
                <label for="">Valor</label>
                <input type="number" step="0.01" [(ngModel)]="valor" placeholder="0,00">
            </div>
        </div>
        <div class="botao">
            <button (click)="enviarTransacao(categoria, valor, data)">SALVAR</button>
        </div>
    </section>

    <section class="resultados-section">
        <div class="resultados">
            <div class="campo-receitas">
                <p class="tipo">Receitas</p>
                <div class="transacoes" *ngFor="let transacao of listaTransacoes?.receitas">
                    <div class="item-transacao">
                        <p>{{transacao.categoria}}</p>
                        <p>{{transacao.data | date:'dd/MM/yyyy'}}</p>
                        <p>{{transacao.valor | currency: 'BRL' : 'symbol' : '1.2-2'}}</p>
                    </div>
                    <div class="lixeira" (click)="pegarTransacaoEMostrarExclusao(transacao)">
                        <img src="/assets/img/lixeira.png" alt="" width="15px" height="15px">
                    </div>
                </div>
            </div>
            <div class="despesas">
                <p class="tipo">Despesas</p>
                <div class="transacoes" *ngFor="let transacao of listaTransacoes?.despesas">
                    <div class="item-transacao">
                        <p>{{transacao.categoria}}</p>
                        <p>{{transacao.data | date:'dd/MM/yyyy'}}</p>
                        <p>{{ transacao.valor | currency: 'BRL' : 'symbol' : '1.2-2' }}</p>
                    </div>
                    <div class="lixeira" (click)="pegarTransacaoEMostrarExclusao(transacao)">
                        <img src="/assets/img/lixeira.png" alt="" width="15px" height="15px">
                    </div>
                </div>
            </div>

        </div>
        <div class="total">
            <p class="tipo">Total</p>
            <div>
                <p>{{ listaTransacoes.total | currency: 'BRL' : 'symbol' : '1.2-2' }}</p>
            </div>
        </div>

        <div class="excluirTransacao" *ngIf="mostrarExclusao">
            <div class="fecharExclusao">
                <h4 (click)="mostrarExclusao = false">X</h4>
            </div>
            <div>
                <p>Deseja excluir a transacao?</p>
            </div>
            <div class="excluir">
                <button (click)="excluirTransacao()">Excluir transação</button>
            </div>
        </div>

    </section>
</main>