<main>
    <header class="header">
        <div id="header-usuario">
            <img src="/assets/img/image.png" alt="avatar do usuário">
            <h2>Bem-vindo(a) de volta!</h2>
        </div>
    </header>
    <section>
        <div class="menu" id="saldos-mensais">
            <div id="saldo">
                <div id="saldo-atual">
                    <h3>Saldo atual</h3>
                    <h1 *ngIf="mostrarSaldos">R$ 2.399,90</h1>
                    <h1 *ngIf="!mostrarSaldos">-----</h1>
                </div>
                <div id="ocultar-saldo">
                    <img src="/assets/img/ocultar.svg" alt="ícone para ocultar saldos" (click)="mostrarSaldos = !mostrarSaldos">
                </div>
            </div>
            <div id="lucro-gasto">
                <div id="lucro-mensal">
                    <h4>Lucro mensal</h4>
                    <h2 *ngIf="mostrarSaldos">R$ 1.299,80</h2>
                    <h2 *ngIf="!mostrarSaldos">-----</h2>
                </div>
                <div id="gasto-mensal">
                    <h4>Gasto mensal</h4>
                    <h2 *ngIf="mostrarSaldos">R$ 1.500,21</h2>
                    <h2 *ngIf="!mostrarSaldos">-----</h2>
                </div>
            </div>
        </div>

        <div class="menu" id="cadastramento">
            <div>
                <h3>Cadastrar movimentação</h3>
                <div id="cadastrar-movimentacao">
                    <button class="cadastrar" id="receita">
                        <img src="/assets/img/receita-icon.svg" alt="icone de cadastramento de receita" width="30px" height="30px">
                        <h3>Receita</h3>
                    </button>
                    <button class="cadastrar" id="despesa">
                        <img src="/assets/img/despesa-icon.svg" alt="icone de cadastramentode despesa" width="30px" height="30px">
                        <h3>Despesa</h3>
                    </button>
                </div>
            </div>
            <div id="todas-movimentacoes">
                <a routerLink="/transacoes"><h4>Ver todas as movimentações</h4></a>
            </div>
        </div>
    </section>
    <section>
        <div class="menu" id="ultimas-movimentacoes">
            <h3>Últimas movimentações</h3>
            <div class="movimentacao">
                <small>Data da movimentação</small>
                <div>
                    <h4>Nome movimentação</h4>
                    <h4>R$ 2.000,99</h4>
                </div>
                <div>
                    <small>Descrição</small>
                </div>
            </div>
        </div>
    </section>
</main>
