<main>
    <header>
        <h2>FinPage</h2>
        <nav>
            <a id="criar" routerLink="/signup">+Criar</a>
            <button (click)="navegar()" id="entrar" class="button">Entrar</button>
        </nav>
    </header>
    <section>
        <div>
            <h1>Precisa organizar suas finanças?</h1>
            <p>Controle seus gastos e lucros e tenha um panorama financeiro nas mãos!</p>
            <button routerLink="/signup" class="button">Começar agora</button>
        </div>
        <div id="div-img">
            <img src="/assets/img/amostraFinPage.png" alt="">
        </div>
    </section>
</main>
