<main>
    <header class="header">
        <div>
            <img id="voltar-home" src="/assets/img/home-icon.svg" alt="ícone para voltar para a página home" routerLink="/home">
            <h2>Todas as movimentações</h2>
        </div>
    </header>

    <section>
        <div class="menu">
            <div class="balanco">
                <h3>Receita mensal</h3>
                <h3 id="receita">R$ {{receitaMensal}}</h3>
            </div>
            <div class="balanco">
                <h3>Despesa mensal</h3>
                <h3 id="despesa">R$ {{despesaMensal}}</h3>
            </div>
            <div class="balanco">
                <h3>Lucro mensal</h3>
                <h3 id="lucro">R$ {{lucroMensal}}</h3>
            </div>
        </div>

        <div class="menu">
            <div id="inputs-busca">
                <div class="inputs">
                    <h4>Ano/Mês</h4>
                    <select name="ano"
                        [(ngModel)]="dataSelecionada">
                        <option value="" disabled selected>Selecione</option>
                        <option *ngFor="let ano of datasUsadasList" [value]="ano">{{ano}}</option>
                    </select>
                </div>
                <div class="inputs">
                    <button class="button" (click)="buscarTransacoesPorData(dataSelecionada)">Buscar</button>
                </div>
            </div>  
        </div>
    </section>

    <section id="resultados">
        <div id="transacoes">
            <div id="data" *ngFor="let transacao of transacoesList">
                <small>{{transacao.data}}</small>
                <div id="unTransacao">
                    <div id="nomeEimg">
                        <img *ngIf="transacao.tipo.toLocaleLowerCase() === 'receita'" src="/assets/img/receita-miniicone.svg">
                        <img *ngIf="transacao.tipo.toLocaleLowerCase() === 'despesa'" src="/assets/img/despesa-miniicone.svg">
                        <div>
                            <h4>{{transacao.descricao}}</h4>
                        </div>
                    </div>
                    <h4>R$ {{transacao.valor}}</h4>
                </div>
            </div>
            <p *ngIf="transacoesList.length == 0">Suas transações aparecerão aqui!</p>
        </div>
    </section>

    <app-mobile-footer class="rodape-mobile"></app-mobile-footer>
</main>
